In [7]:
import pandas as pd

df = pd.DataFrame({
    'Date': pd.to_datetime(['2024-01-05', '2024-01-20', '2024-02-10', '2024-02-18']),
    'Sales': [5000, 7000, 6500, 8000]
})

df['Month'] = df['Date'].dt.to_period('M')

monthly_sales = df.groupby('Month')['Sales'].sum()

print(monthly_sales)

Month
2024-01    12000
2024-02    14500
Freq: M, Name: Sales, dtype: int64

In [8]:
import pandas as pd

df = pd.DataFrame({
    'Product': ['A', 'B', 'A', 'C'],
    'Price': [120, 80, 150, 200],
    'Units': [5, 10, 3, 7]
})

filtered_and = df[(df['Price'] > 100) & (df['Units'] > 4)]

filtered_or = df[(df['Price'] > 100) | (df['Units'] > 8)]

print("AND Filter:\n", filtered_and)
print("\nOR Filter:\n", filtered_or)

AND Filter:
   Product  Price  Units
0       A    120      5
3       C    200      7

OR Filter:
   Product  Price  Units
0       A    120      5
1       B     80     10
2       A    150      3
3       C    200      7

In [9]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['  john doe  ', 'ALICE SMITH', 'raHuL']
})

df['Cleaned'] = (
    df['Name']
    .str.strip()      
    .str.lower()      
    .str.title()      
    .str.replace(" ", "_")  
)

print(df)

           Name      Cleaned
0    john doe       John_Doe
1   ALICE SMITH  Alice_Smith
2         raHuL        Rahul

In [10]:
import pandas as pd

df = pd.DataFrame({
    'Order_Date': pd.to_datetime(['2024-01-05', '2024-03-22'])
})

df['Year'] = df['Order_Date'].dt.year
df['Month'] = df['Order_Date'].dt.month
df['Day'] = df['Order_Date'].dt.day

print(df)

  Order_Date  Year  Month  Day
0 2024-01-05  2024      1    5
1 2024-03-22  2024      3   22

In [11]:
import pandas as pd

customers = pd.DataFrame({
    'Customer_ID': [1, 2, 3],
    'Name': ['John', 'Alice', 'David']
})

sales = pd.DataFrame({
    'Customer_ID': [1, 2, 1, 3],
    'Purchase_Amount': [500, 700, 300, 900]
})

merged_df = pd.merge(customers, sales, on='Customer_ID', how='inner')

print(merged_df)

   Customer_ID   Name  Purchase_Amount
0            1   John              500
1            1   John              300
2            2  Alice              700
3            3  David              900

In [12]:
import pandas as pd

df = pd.DataFrame({
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Furniture'],
    'Region': ['North', 'South', 'South', 'North'],
    'Sales': [1200, 800, 1500, 900]
})

pivot = pd.pivot_table(
    df,
    values='Sales',
    index='Category',
    columns='Region',
    aggfunc='sum',
    fill_value=0
)

print(pivot)

Region       North  South
Category
Clothing         0    800
Electronics   1200   1500
Furniture      900      0