In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import pandas as pd
data= pd.read_csv("C:\\Users\\HP\\Downloads\\StudentMarksDataset.csv")
print(data.head())
display (data.info())
print("\nMissing values")
print(data.isnull().sum())
data=data.fillna(0)
print("\nAfter Handling Missing values")
print(data.isnull().sum())
print("Average Values:\n", data.mean(numeric_only=True), "\n")
print("Highest Values:\n", data.max(numeric_only=True), "\n")
print("Lowest Values:\n", data.min(numeric_only=True))

   Std_RollNo        Std_Name Std_Branch     Std_Course  Std_StudyHours  \
0      240415    Tanya Gautam         MC  B.Sc 1st year            6.83
1      240416      Udit Sagan         MC  B.Sc 1st year            6.56
2      240417  Kratika Sharma         PM  B.Sc 1st year             NaN
3      240418    Rakesh Kumar         PM  B.Sc 1st year            5.67
4      240419   Ritika Katara         PM  B.Sc 1st year            8.67

   Std_Marks
0      78.50
1      76.74
2      78.68
3      71.82
4      84.19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Std_RollNo      200 non-null    int64
 1   Std_Name        200 non-null    object
 2   Std_Branch      197 non-null    object
 3   Std_Course      200 non-null    object
 4   Std_StudyHours  195 non-null    float64
 5   Std_Marks       200 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 9.5+ KB

None

Missing values
Std_RollNo        0
Std_Name          0
Std_Branch        3
Std_Course        0
Std_StudyHours    5
Std_Marks         0
dtype: int64

After Handling Missing values
Std_RollNo        0
Std_Name          0
Std_Branch        0
Std_Course        0
Std_StudyHours    0
Std_Marks         0
dtype: int64
Average Values:
 Std_RollNo        240514.20000
Std_StudyHours         6.82105
Std_Marks             77.93375
dtype: float64

Highest Values:
 Std_RollNo        240613.00
Std_StudyHours         8.99
Std_Marks             86.99
dtype: float64

Lowest Values:
 Std_RollNo        240415.00
Std_StudyHours         0.00
Std_Marks             68.57
dtype: float64

In [15]:
#Project

import pandas as pd
data = {
    "Date": [
        "2025-01-05", "2025-01-12", "2025-01-19", "2025-01-26",
        "2025-02-02", "2025-02-09", "2025-02-16", "2025-02-23",
        "2025-03-02", "2025-03-09"
    ],
    "Product": [
        "Laptop", "Mobile", "Tablet", "Headphones", 
        "Laptop", "Mobile", "Tablet", "Headphones", 
        "Laptop", "Mobile"
    ],
    "Units_Sold": [5, 8, 6, 10, 4, 9, 7, 12, 3, 11],
    "Price_per_Unit": [60000, 20000, 25000, 3000, 60000, 20000, 25000, 3000, 60000, 20000]
}

df = pd.DataFrame(data)

df["Total_Sales"] = df["Units_Sold"] * df["Price_per_Unit"]

print("Sales Dataset:\n", df, "\n")
total_sales = df["Total_Sales"].sum()

product_sales = df.groupby("Product")["Total_Sale"].sum()
best_selling_product = product_sales.idxmax()
best_selling_value = product_sales.max()


report = f"""
----- SALES REPORT -----
Total Sales: ₹{total_sales:,}
Best-Selling Product: {best_selling_product} (₹{best_selling_value:,})

Sales by Product:
{product_sales.to_string()}

-------------------------
"""

print(report)

with open("sales_report.txt", "w",encoding="utf-8") as f:
    f.write(report)

print("Report saved as 'sales_report.txt'")

Sales Dataset:
          Date     Product  Units_Sold  Price_per_Unit  Total_Sale
0  2025-01-05      Laptop           5           60000      300000
1  2025-01-12      Mobile           8           20000      160000
2  2025-01-19      Tablet           6           25000      150000
3  2025-01-26  Headphones          10            3000       30000
4  2025-02-02      Laptop           4           60000      240000
5  2025-02-09      Mobile           9           20000      180000
6  2025-02-16      Tablet           7           25000      175000
7  2025-02-23  Headphones          12            3000       36000
8  2025-03-02      Laptop           3           60000      180000
9  2025-03-09      Mobile          11           20000      220000


----- SALES REPORT -----
Total Sales: ₹1,671,000
Best-Selling Product: Laptop (₹720,000)

Sales by Product:
Product
Headphones     66000
Laptop        720000
Mobile        560000
Tablet        325000

-------------------------

Report saved as 'sales_report.txt'